Links

**[Link References](https://stormpath.com/blog/linking-and-resource-expansion-rest-api-tips#references-links-in-json)**
- link relation is property name
- resources contain `href` property
- also applies to embedded resources

**[RFC 5829: Link Relation Types for Simple Version Navigation between Web Resources](https://tools.ietf.org/html/rfc5829)**

- **version-history**
  - from `/dimensions` to `/dimensions/revisions`
  - from `/dimensions/{id}` to `/dimensions/{id}/revisions`
  - from `/keys` to `/keys/revisions`
  - from `/keys/{id}` to `/keys/{id}/revisions`
  - from `/keys/{id}/values` to `/keys/{id}/values/revisions`
  - from `/keys/{id}/value` to `/keys/{id}/value/revisions`
- **predecessor-version**
  - from one revision to the previous (if any)
- **successor-version**
  - from one revision to the next (if any)
- **latest-version**
  - from any revision to the current non-revisioned version
  - basically the inverse of *version-history*

**[RFC 6538: The Item and Collection Link Relations](https://tools.ietf.org/html/rfc6573)**
- **item**
  - on each item (dimension, key, value, revision) as part of a collection
- **collection**
  - on each document resource (dimension, key, value, revision) back to its collection resource

**[RFC 6596: The Canonical Link Relation](https://tools.ietf.org/html/rfc6596)**
- **canonical**
  - from the latest revision back to the original resource, unless it's deleted

**[RFC 7089: HTTP Framework for Time-Based Access to Resource States -- Memento](https://tools.ietf.org/html/rfc7089)**
- **original**
  - same as **latest-version**
- **timegate**
  - most likely the same as **original**
- **timemap**
  - same as **version-history**
- **memento**
  - any link to a concrete revision
- http://mementoweb.org/guide/

Dropped for now.